@using Presentation.WebApp.Models
@model MembershipViewModel

<h1>Memberships</h1>

@if (!Model.Memberships.Any())
{
    <p>No memberships found</p>
}
else
{
    <ul>
        @foreach (var m in Model.Memberships)
        {
            <li>
                <strong>@m.Name</strong> - @m.Price kr <br />
                <span>@m.Description</span>
            </li>
        }
    </ul>
}