<section class="about-section">

    <div class="about-container">

        <div class="about-images">
            <img class="about-image-main" src="~/images/Mask-group.png" alt="Personal training" />
            <img class="about-image-accent" src="~/images/about-us-image-box-bg-image-1.png" alt="" />
            <img class="about-image-secondary" src="~/images/about-us-image-2-prime-1.png" alt="Fitness training" />
        </div>

        <div class="about-content">
            <span class="about-badge">About Us</span>

            <h2>
                Elevating Fitness Journey
                with Expert Guidance
            </h2>

            <p class="about-text">
                We support every stage of your fitness journey with certified trainers, personalized
                programs proven methods designed to help you train safely, build strength.
            </p>

            <div class="about-quote-box">
                <p>
                    Our mission is to transform lives by combining expert guidance,
                    powerful training programs, and a motivating community that helps
                    you grow stronger every day.
                </p>

                <span class="about-quote-icon">✦</span>
            </div>
        </div>

    </div>

</section>