<section class="brands-section">

    <div class="brands-container">

        <div class="brands-logos">
            <a href="#"><img src="~/images/Logoipsum1.png" /></a>
            <a href="#"><img src="~/images/Logoipsum2.png" /></a>
            <a href="#"><img src="~/images/Logoipsum3.png" /></a>
            <a href="#"><img src="~/images/Logoipsum4.png" /></a>
            <a href="#"><img src="~/images/Logoipsum5.png" /></a>
        </div>

        <div class="brands-text">
            <img src="~/images/brands-ModernEquipment-text.png" />
        </div>

    </div>

</section>