<section class="faq-section">
    <div class="faq-container">

        <div class="faq-grid">

            <!-- LEFT IMAGE -->
            <div class="faq-image">
                <img src="~/images/faqs-image.png" asp-append-version="true" alt="Gym training" />
            </div>

            <!-- RIGHT CONTENT -->
            <div class="faq-content">

                <span class="faq-badge">Frequently Asked Questions</span>

                <h2 class="faq-heading">
                    Common questions about
                    gym and training
                </h2>

                <div class="faq-list">

                    <!-- ACTIVE -->
                    <div class="faq-item active">
                        <div class="faq-question">
                            <span>Q1. Do I need prior gym experience to Join CoreFitness?</span>
                            <div class="faq-icon">⌃</div>
                        </div>

                        <div class="faq-answer">
                            <p>
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with
                                proper techniques and structured workout plans to help them start safely and
                                confidently.
                            </p>

                            <ul>
                                <li>Every new member receives a personalized introduction to equipments</li>
                                <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- COLLAPSED -->
                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Q2. What facilities are included with the membership?</span>
                            <div class="faq-icon">⌄</div>
                        </div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Q3. Can I try them gym before taking a membership?</span>
                            <div class="faq-icon">⌄</div>
                        </div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Q4. Are there group workout programs available?</span>
                            <div class="faq-icon">⌄</div>
                        </div>
                    </div>

                    <div class="faq-item">
                        <div class="faq-question">
                            <span>Q5. Is nutrition guidance included in the plans?</span>
                            <div class="faq-icon">⌄</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>