<section class="header-section">
    <div class="logotype">
        <a href="/"><img src="~/images/logotype.png" alt="CoreFitness" /></a>
    </div>
    
    <nav class="main-menu">
    <ul class="menu">
        <li class="menu-item">
            <a asp-controller="FitnessCenters" asp-action="Index">Fitness Centers</a>
        </li>
        <li class="menu-item">
            <a asp-controller="Memberships" asp-action="Index">Memberships</a>
        </li>
        <li class="menu-item">
            <a asp-controller="Training" asp-action="Index">Training</a>
        </li>
        <li class="menu-item">
            <a asp-controller="CustomerService" asp-action="Index">Customer Service</a>
        </li>
        <li class="menu-item">
            <a asp-controller="Store" asp-action="Index">Store</a>
        </li>
    </ul>
</nav>

<nav class="account-menu">
    right
</nav>
</section>
