<section class="hero-section">

    <div class="hero-left">

        <span class="hero-badge">
            <img src="~/images/strongBody-section-title.png" />
        </span>

        <h1>
            Build Strength Boost<br />
            Confidence Today!
        </h1>

        <p>
            Begin your fitness journey with expert trainers, modern equipment,
            and a supportive environment designed to help you build strength and confidence.
        </p>

        <div class="hero-list">

            <div class="hero-item">
                <img src="~/images/small-yellow-checkmark.png" />
                <span>Transform your body with training</span>
            </div>

            <div class="hero-item">
                <img src="~/images/small-yellow-checkmark.png" />
                <span>Personal training for real results</span>
            </div>

            <div class="hero-item">
                <img src="~/images/small-yellow-checkmark.png" />
                <span>Build confidence through fitness</span>
            </div>

            <div class="hero-item">
                <img src="~/images/small-yellow-checkmark.png" />
                <span>Fitness tailored to your goals</span>
            </div>

        </div>

        <img src="~/images/horizontal-line.png" class="hero-line" />

        <a href="#" class="btn-primary">
            Get Started
            <img src="~/images/Arrow-button.png" />
        </a>

    </div>

    <div class="hero-right">
        <img src="~/images/hero-image.png" alt="fitness" />
    </div>

</section>