<div class="top-section">
    <partial name="Partials/_HeroSection" />
</div>

<partial name="Partials/_BrandsSection" />
<partial name="Partials/_AboutSection" />
<partial name="Partials/_ProgramSection" />
<partial name="Partials/_StoreSection" />