<section class="error-section">
    <div class="error-container">

        <div class="error-illustration">
            <img src="~/images/404-error-img.png" asp-append-version="true" alt="404 not found" />
        </div>

        <h1 class="error-title">Oops! page not found</h1>

        <p class="error-text">
            The page you are looking for does not exists.
        </p>

        <a asp-controller="Home" asp-action="Index" class="error-btn">
            Back to Homepage
            <img src="~/images/Arrow-button.png" asp-append-version="true" alt="" />
        </a>

    </div>
</section>